@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", system-ui;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}


/***************************** Header Css End ****************************/

.profileHeader {
  border-bottom: 1px solid #E5E6F3;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.accountbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 885px;
  margin: 30px auto;
  /* Adjust centering */
  height: calc(100vh - 170px);
  max-height: 570px;
  border-radius: 20px;
  background-color: #fff;
  /* Ensure there's a background */
  overflow: auto;

  /* Add box-shadow for border effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
    /* subtle shadow */
    0 6px 20px rgba(0, 0, 0, 0.1);
  /* deeper shadow for effect */
}

.accountbox>.leftpart {
  height: 100%;
  width: 46%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accountbox>.leftpart>img {
  width: 75%;
  max-width: 150px;
}

.accountbox>.rightpart {
  width: 54%;
  overflow: auto;
  height: 100%;
  padding: 53px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accountinfo {
  max-width: 375px;
  margin: 0 45 px;
}

.accountinfo h2 {
  font-size: 28px;
  line-height: 24px;
  font-weight: 500;
  color: #231F20;
  margin-bottom: 24px;
}

.accountinfo h3 {
  font-weight: 500;
  line-height: 24px;
  font-size: 20px;
  color: #231F20;
  font-family: "Poppins", system-ui;
  margin-bottom: 10px;
}

.accountinfo p {
  font-size: 14px;
  font-weight: 400;
  color: #737B88;
  font-family: "Poppins", system-ui;
  line-height: 26px;

}

.formbox {
  height: auto;
}

.formbox .forminnerbox {
  border: 1px solid #E5E6F3;
  position: relative;
  min-height: 48px;
  border-radius: 6px;
  overflow: hidden;
}

.formbox span {
  font-size: 12px;
}

.forminnerbox label {
  font-size: 16px;
  color: #737B88;
  font-weight: 400;
  position: absolute;
  top: 11px;
  left: 12px;
  width: auto;
  transition: 0.2s all;
  cursor: text;
  z-index: 0;
}


.passEye {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 9;
  width: 24px;
  height: 24px;
}


.passEye>img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


.formbox .form-control {
  height: auto;
  color: #231F20 !important;
  background: transparent !important;
  line-height: normal;
  font-size: 16px !important;
  border: none;
  outline: none;
  box-shadow: none !important;
  border-radius: 0;
  padding: 12px 16px;
  z-index: 1;
  border-radius: 6px;
}

.formbox .form-control:invalid {
  outline: 0;
}

.forminnerbox .react-tel-input {
  height: 100%;
  border: none;
  z-index: 1;
  position: relative;
  outline: none;
}

.forminnerbox .react-tel-input .flag-dropdown {
  background-color: transparent;
  border: none;
  outline: none;
}

.forminnerbox .react-tel-input .flag-dropdown .selected-flag {
  display: none;
}

.forminnerbox .react-tel-input .form-control {
  padding: 27px 75px 10px 15px !important;
  /* margin: 0; */
  height: 100%;
  line-height: normal;
  width: 100%;
  border: none;
  outline: none;
}

.input-edit {
  padding-left: 5px !important;
  padding-top: 15px !important;
}

.phone-number .form-control {
  padding-top: 23px !important;
  font-size: 15px !important;
}

.phone-number input {
  padding-left: 5px !important;
}

.phone-number label {
  margin-top: -10px;
  font-size: 10px;
}

.form-control:focus~label,
.form-control:valid~label,
.forminnerbox .react-tel-input:valid~label,
.forminnerbox .react-tel-input:focus~label {
  font-size: 10px;
  top: 2px;
  left: 15px;
  color: #737B88;
}

.rmdp-range {
  background-color: rgb(43, 38, 38) !important;
}

.rmdp-button {
  padding: 4px 16px !important;
}

.rmdp-input {
  display: none !important;
  width: 20px;
  color: white;
  border: none !important;
  padding: 0px !important;
  cursor: pointer !important;


}


.formbox .forminnerbox .changebtn {
  position: absolute;
  top: 15px;
  right: 13px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #5588D5;
  font-size: 14px;
  z-index: 1;
}

.applebtn {
  width: 100%;
  display: block;
  border: 1px solid #E2E8F0;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 100px;
  color: #737B88;
  background-color: transparent;
  cursor: pointer;
  margin: 15px 0;
  position: relative;
}


.applebtn img {
  position: absolute;
  top: 7px;
  left: 12px;
}

.googlebtn {
  cursor: pointer;
  border-radius: 100px;
  width: 100%;
  display: block;
  border: 1px solid #E2E8F0;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 400;
  color: #737B88;
  margin-bottom: 12px;
  background-color: transparent;
  position: relative;
}

.googlebtn img {
  position: absolute;
  top: 5px;
  left: 14px;
}

.newadd {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #231F20;
  font-family: "Inter", sans-serif;
  margin: 40px 0 0;
}

.newadd>button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #249EE2;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.verifyOuterbox {
  height: calc(100vh - 110px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  padding: 20px 0 0;
}

.verifybox {
  width: 100%;
  max-width: 455px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 60px;
  box-shadow: 0px 11.62px 124.28px 0px #0000001F;
  height: 90%;
  max-height: 410px;
}

.verifybox>p {
  font-weight: 400;
  font-size: 14px;
  color: #737B88;
  margin: 10px 0 0;
  font-family: "Poppins", system-ui;
}

.textlink {
  cursor: pointer;
  display: block;
  color: #5588D5;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 15px;
  border: none;
  outline: none;
  font-family: "Poppins", system-ui;
  background-color: transparent;
}

.signbtn {
  background: #231F20;
  color: #fff;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 16px;
  display: block;
  width: 100%;
  box-shadow: none;
  border: none;
  outline: none;
  margin: 31px 0 10px;
  text-align: center;
  cursor: pointer;
  font-family: "Poppins", system-ui;
}

.forgotbtn {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  text-align: center;
  color: #475569;
  font-family: "Poppins", system-ui;
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 0;

}


.otp-class {
  height: 100px !important;
  border: none;
  width: 3em !important;
}

.otp-class:focus {
  outline: none;
}





/************************** content Page ******************************/

.sidebar ul li.active {
  background-color: #000;
}

.sidebar ul li.active a {
  color: #fff;
}

.dasboardpage {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100vh - 76px);
}

.dasboardpage>.content {
  width: calc(100% - 300px);
  overflow: auto;
  height: calc(100vh - 76px);
}

.adminTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 18px 32px;
  border-bottom: 1px solid #E5E7EB
}

.adminTitle>h2 {
  font-size: 24px;
  font-weight: 400;
  color: #000;
  font-family: "Poppins", system-ui;
}

.addcusbtn {
  border: none;
  outline: none;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 100px;
  color: #fff;
  text-align: center;
  padding: 8px 87px;
}

.addcusbtn:hover {
  background-color: #fff;
  color: #000;
}

.customersTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 32px;
  border-bottom: 1px solid #E5E7EB
}

.tcbtn {
  border: 1px solid #DBDEEB;
  color: #71717A;
  border-radius: 8px;
  padding: 12px 5px 12px 15px;
  min-width: 180px;
  text-align: left
}

.searchbox {
  position: relative;
  width: calc(100% - 210px);
  border: 1px solid #DBDEEB;
  border-radius: 8px;
}

.searchbox .searchIcon {
  position: absolute;
  top: 12px;
  left: 15px;
}

.searchbox input {
  width: 100%;
  display: block;
  padding: 12px 135px 12px 50px;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 8px;
}

.searchbox input::placeholder {
  color: #000;
}

.searchbox .closeBtn {
  height: auto;
  width: auto;
  position: absolute;
  top: 14px;
  right: 120px;
  cursor: pointer;
  line-height: 1;
  z-index: 9;
}

.searchbox .searchbtn {
  border: 1px solid #000000;
  border-radius: 100px;
  padding: 3px 20px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top: 9px;
  right: 20px;
}

.addcusbox {
  border: 1px solid #E5E7EB;
  border-radius: 8px;
  padding: 16px;
  margin: 21px;
  height: 661px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.addcusbox>p {
  margin: 16px 0 24px;
  font-size: 16px;
  color: #000;
}

.alfartableOuter {
  border: 1px solid #E5E7EB;
  padding: 16px;
  border-radius: 8px;
  margin: 21px 24px;
}

.alfartableTitle h3 {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.alfartableTitle p {
  color: #71717A;
  font-size: 14px;
  font-weight: 400;
}

.alfartable {
  width: 100%;
  border-bottom: 1px solid #E4E7EC;
  overflow: auto;
}

.alfartable table {
  width: 100%;
  min-width: 1110px;
}

.alfartable table tr:nth-child(2n+1) {
  background: #F9FAFB;
}

.alfartable table th {
  padding: 16px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  border-bottom: 1px solid #E5E7EB;
}

.alfartable table td {
  padding: 16px;
  color: #000;
  font-size: 15px;
  font-weight: 400;
}

.alfartable table .clbtn {
  width: 32px;
  height: 32px;
  vertical-align: top;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E4E7EC;
  border-radius: 8px;
  position: relative;
}

.alfartable table .clbtn:hover {
  background-color: #E4E7EC;
}

.clbtn:after {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 2px;
  position: absolute;
  background-color: #000;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  display: none;

}

.clbtn::before {
  content: "";
  left: 42%;
  bottom: 110%;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background-color: #000;
  z-index: 1;
  transform: rotate(45deg);
  display: none;
}

.clbtn.viewbtn:hover::after {
  content: "View";
  left: -50%;
  bottom: 119%;
  width: 66px;
  height: 38px;
  display: flex;
}

.clbtn:hover::before {
  display: block;
}

.clbtn.dlbtn:hover::after {
  content: "Download";
  left: -50%;
  bottom: 119%;
  width: 103px;
  margin-left: -21px;
  height: 38px;
  display: flex;
}


.clbtn.vpbtn:hover::after {
  content: "View Previous Fetch Balance";
  width: 132px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  bottom: 120%;
}

.clbtn.editbtn:hover::after {
  content: "Edit Customer";
  width: 132px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  bottom: 120%;
}

.clbtn.dpbtn:hover::after {
  content: "Download Previous Fetch Balance";
  width: 165px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  bottom: 120%;
}

.clbtn.rebtn:hover::after {
  content: "Fetch New Balance";
  width: 165px;
  height: 38px;
  display: flex;
  flex-wrap: wrap;
  bottom: 120%;
}

.toggleNotActive {
  display: inline-block;
  vertical-align: middle;
  width: 33px;
  height: 20px;
  border-radius: 50px;
  background: #FC3D3D;
  position: relative;
  cursor: pointer;
  transition: all .3s ease;
  margin-right: 5px;
}

.toggleActive {
  display: inline-block;
  vertical-align: middle;
  width: 33px;
  height: 20px;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  transition: all .3s ease;
  margin-right: 5px;
  background: #11B718;
}

.toggleActive:before {
  transition: all .3s ease;
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
}

.toggleNotActive:before {
  transition: all .3s ease;
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
}

/* .toggleNotActive:hover::before {
  left: 15px;
} */

/******************** popupinner *************************/

.popupinner {
  width: 90%;
  max-width: 726px;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 24px;
  position: relative;
}

.popupinner>h2 {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  border-bottom: 1px solid #DBDEEB;
  padding-bottom: 16px;
}

.closebtn {
  position: absolute;
  top: 32px;
  right: 35px;
}

.popupinner .formbox .form-control {
  min-height: 55px;
  padding: 20px 16px 6px 16px;
}

.popupinner .formbox label {
  top: 15px;
  left: 16px;
}

.popupinner .formbox .form-control:focus~label,
.popupinner .formbox .form-control:valid~label {
  top: 8px;
}

.addCustomer .formbox .forminnerbox {
  border-radius: 100px;

}

.btnWh {
  border: 1px solid #E5E6F3;
  padding: 8px 12px 8px 12px;
  border-radius: 71px;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  min-width: 157px;
}

.btnWh:hover {
  background: #000000;
  color: #fff;
}

.btnBl {
  border: 1px solid #000;
  padding: 8px 12px 8px 12px;
  border-radius: 71px;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  font-weight: 400;
  min-width: 169px;
}

.btnBl:hover {
  border: 1px solid #E5E6F3;
  background: #fff;
  color: #000;
}

.addCustomer.main-popup .formbox .forminnerbox.addselectbox:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 20px;
  width: 12px;
  height: 9px;
  background: url(./Components/Astes/arrow2.svg) top center no-repeat;
  background-size: contain;
}

.addCustomer.main-popup .formbox .forminnerbox.addselectbox .form-control {
  padding-right: 50px;
}

.addCustomer.main-popup .formbox .forminnerbox.addselectbox label {
  font-size: 10px;
  top: 8px;
  left: 15px;
  color: #737B88;
}

.successpopup h3 {
  font-size: 40px;
  font-weight: 500;
  color: #000;
  margin: 30px 0 25px;
}

.successpopup p {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  border-bottom: 1px solid #E5E6F3;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.SummeryTitle {
  display: flex;
  align-items: center;
  gap: 30px;
}

.SummeryTitle h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  color: #000000;
}

.daterangebox .datetext {
  color: #7E8082;
  font-size: 14px;
  font-weight: 400;
}

.daterangebox .dateday {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.10000000149011612px;
  color: #344054;
}


.summurypopup .popupinner {
  max-width: 1319px;
}

.daterangebox {
  border: 1px solid #DBDEEB;
  padding: 2px 20px;
  border-radius: 8px;
}

.datearrow {
  display: inline-block;
  border-left: 1px solid #E2E5EF;
  margin-left: 10px;
  padding-left: 10px;
}

.summerytable {
  padding-top: 25px;
}

.summerytable table {
  width: 100%;
}

.summerytable th {
  border: 1px solid #E5E6F3;
  font-size: 10px;
  font-weight: 500;
  color: #000;
}

.summerytable td {
  border: 1px solid #E5E6F3;
  font-size: 10px;
  font-weight: 400;
  color: #000;
  text-align: right;
}

.rowdatapopup .popupinner {
  word-break: break-all;
}

.rowdatapopup .popupinner p {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  word-break: break-word;
}

/* /-------pagination--------/ */
.alfarpegination {
  padding: 15px 24px;
  text-align: center;
  position: relative;
}

.alfarpegination span {
  color: #667185;
  position: absolute;
  left: 24px;
  top: 24px;
  font-size: 14px;
}

.alfarpegination .pagination {
  gap: 5px;
  justify-content: center;
  width: 100%;
  position: relative;
  padding: 10px 0 0;
}


.alfarpegination .pagination .page-item:first-child,
.alfarpegination .pagination .page-item:last-child {
  border-radius: 8px;
  top: 3px;
}

.alfarpegination .pagination .page-item:first-child {
  position: absolute;
  right: 100px;
}

.alfarpegination .pagination .page-item:last-child {
  position: absolute;
  right: 0;
}

.alfarpegination .pagination .page-item:first-child .page-link,
.alfarpegination .pagination .page-item:last-child .page-link {
  color: #71717A;
  border: 1px solid #D0D5DD;
  outline: none;
  box-shadow: none;
  display: block;
  cursor: pointer;
  padding: 4px 20px;
  height: auto;
}

.alfarpegination .pagination .page-item:first-child .page-link:hover,
.alfarpegination .pagination .page-item:last-child .page-link:hover {
  background-color: #000;
  color: #fff;
}

.alfarpegination .page-item .page-link {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: #98A2B3;
  min-width: 24px;
  height: 24px;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.alfarpegination .page-item.active .page-link {
  color: #fff;
  background-color: #000;
}

/************************** Scrollbar css ******** *****************************/



.dasboardpage>.content::-webkit-scrollbar,
.accountbox>.rightpart::-webkit-scrollbar,
.verifyOuterbox::-webkit-scrollbar {
  width: 5px;
  box-shadow: inset 0 0 5px #b0b0b0;
  border-radius: 100px;
}

/* Handle */


.dasboardpage>.content::-webkit-scrollbar-thumb,
.accountbox>.rightpart::-webkit-scrollbar-thumb,
.verifyOuterbox::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 100px;

}


.alfartable::-webkit-scrollbar {
  width: 100%;
  height: 3px;
  box-shadow: inset 0 0 5px #b0b0b0;
  border-radius: 100px;
}

.alfartable::-webkit-scrollbar-thumb {
  background: #0f0f0f;
  border-radius: 100px;
}



/*************************** Responsive css  ******************************************/